*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  border-bottom: ridge black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  background-color: antiquewhite;
}

h1 {
  margin: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 0;
  gap: 20px;
  width: 80%;
}

.question-card {
  border: ridge black;
  width: 100%;
}
