*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  border-bottom: ridge black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  position: fixed;
  top: 0;
  z-index: 1;
}

body {
  margin: 60px 0 80px 0;
  background-color: antiquewhite;
}

h1 {
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  padding: 30px 0;
  width: 90%;
}

.card {
  border: ridge black;
  width: 100%;
  position: relative;
  background-color: burlywood;
}

.bookmark {
  position: absolute;
  top: -18px;
  right: 5px;
  width: 12%;
  /* fill: white;
  stroke: black; */
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-headline {
  margin-top: 30px;
  padding-right: 145px;
  margin-left: 8px;
}

.card-text {
  margin: 8px 25px 25px 25px;
}

.answer-button {
  padding: 10px 40px;
  box-shadow: 4px 4px black;
  background-color: aqua;
  border: aqua;
}

.answer-text {
  margin-top: 35px;
}

.tags {
  list-style: none;
  display: flex;
  gap: 3px;
  margin: 20px 0 12px 0;
  padding: 8px;
}

.item {
  border: ridge black 1px;
  background-color: coral;
  padding: 1px 5px;
  border-radius: 5px;
  margin-top: 16px;
}

.navbar {
  position: fixed;
  bottom: 0;
  background-color: chocolate;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.test {
  width: 50px;
}
