.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 25px 0 15px;
  padding: 8px;
}

.item {
  padding: 4px 12px;
  margin-top: 12px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 0.8em;
  transition: all 0.3s ease;
}
